<footer>
    <h3>© Sports Cards</h3>
    <img src="/images/logos/twitter.png" height="30" alt="twitter">
    <img src="/images/logos/linkedin.png" height="30" alt="linkedin">
    <img src="/images/logos/facebook.png" height="30" alt="facebook">
</footer>
</body>

</html> 