<%- include('./partials/header.ejs')%>

    <div class="content-items">
        <div class="errorMSG">
            <h1><%= error.status%> Error</h1>
            <p><%= error.message%></p>
        </div>
    </div>

    <%- include('./partials/footer.ejs')%>