<%- include('./partials/header.ejs')%>

    <div class="content">

        <div class="body-container">
            <div class="topImg">
                <h1 class="title">Sport Cart</h1>
            </div>
            <div class="bot-box">
                <div class="boxImg">
                    <h2>Your Ultimate Playground for Sports Card Enthusiasts - Explore a World of Sporting Greats in One
                        Marketplace!</h2>
                </div>
                <div class="boxImg">
                    <a href="/items/"><button>Start Browsing! ➜</button></a>
                </div>
            </div>
        </div>

    </div>

    <%- include('./partials/footer.ejs')%>