<%- include('../partials/header.ejs')%>
        
        <div class="form-wrapper">
            <div class="form-container">
                <div class="login-container">
                    <form action = '/users/login' method = 'POST' class="user-form">
                        <label for="email">Email Address</label></td>
                        <input type="email" id="email" name="email" required></td>
                           
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" minlength="3" maxlength="64" required>
                           
                        <input type="submit" value="Login">     
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs')%>